.slide-fade-enter-active {
    -webkit-transition: all .4s cubic-bezier(1, .5, .8, 1);
    transition: all .4s cubic-bezier(1, .5, .8, 1)
}

.slide-fade-leave-active {
    -webkit-transition: all .2s ease;
    transition: all .2s ease
}

.slide-fade-enter,
.slide-fade-leave-to {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
    opacity: 0
}

#booking-widget[data-v-6471f287] {
    font-size: 14px !important;
  margin-top: -60px;
  border: 2px solid #ad1919;
  background-color: #fff;
  margin-bottom: 0;
  padding: 0 30px;
}

#booking-widget .reserveport-form-wrap[data-v-6471f287] {
    padding: 20px 0 20px;
    
}

#booking-widget .reserveport-form-wrap h3[data-v-6471f287] {
    font-size: 1.75rem;
    margin-bottom: 20px;
    font-family: Barlow Semi Condensed, sans-serif;
    font-weight: 400;
    font-style: normal
}

#booking-widget .reserveport-form-wrap form[data-v-6471f287] {
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch
}

#booking-widget .vue-date-box label[data-v-6471f287] {
    font-size: .875rem;
    opacity: .8;
    text-transform: capitalize;

}

#booking-widget input[type=time][data-v-6471f287]::-webkit-clear-button {
    display: none
}

#booking-widget .vue-destination[data-v-6471f287] {
    background: url(https://reservations.reserveport.com/static/img/icon.png) right 1px no-repeat !important;
    background-size: auto;
    background-size: 15px !important
}

#booking-widget #vue-ageDiv[data-v-6471f287] {
    border-top: 1px dotted #dedede;
    border-bottom: 1px dotted #dedede;
    padding: 10px 0;
    margin-bottom: 10px;
    overflow: hidden
}

#booking-widget #vue-ageDiv label[data-v-6471f287],
.ageDivMultiple label[data-v-6471f287] {
    font-weight: 300 !important;
    text-transform: none !important;
    color: #642609
}

#booking-widget .vue-sd-container[data-v-6471f287] {
    padding: 5px 0 4px !important
}

#booking-widget .mobilelabel[data-v-6471f287] {
    margin-bottom: 10px
}

#booking-widget .sd[data-v-6471f287] {
    padding: 10px 0;
    height: 30px;
    width: 150px;
    background: transparent
}

#booking-widget .vue-coupon_code_screen[data-v-6471f287] {
    background: #fefefe;
    color: #555;
    max-width: 50px;
    padding: 5px !important;
    line-height: 14px !important;
    border: 1px solid #999;
    margin-bottom: 10px
}

#booking-widget ol[data-v-6471f287],
#booking-widget ul[data-v-6471f287] {
    padding: 0
}

#booking-widget .vue-card-unit-summary li[data-v-6471f287],
#booking-widget .vue-card-unit-summary ol[data-v-6471f287],
#booking-widget .vue-card-unit-summary ul[data-v-6471f287] {
    list-style: none
}

#booking-widget #no_room_selected[data-v-6471f287] {
    text-align: center
}

#booking-widget #no_room_selected_img[data-v-6471f287] {
    display: table;
    margin: 0 auto
}

#booking-widget .vue-card-unit-summary[data-v-6471f287] {
    padding: 15px 0;
    font-size: 1em;
    overflow: hidden
}

#booking-widget .vue-card-unit-summary .vue-features-list li[data-v-6471f287] {
    width: 33.3%
}

#booking-widget .vue-features-list li.vue-non-icons[data-v-6471f287] {
    height: auto !important;
    margin-bottom: 5px
}

#booking-widget .vue-features-list li[data-v-6471f287] {
    width: 25%;
    height: 70px;
    overflow: hidden;
    float: left
}

#booking-widget .vue-features-list[data-v-6471f287] {
    margin: 15px 0 0;
    display: block;
    overflow: hidden
}

#booking-widget .mrgb10[data-v-6471f287] {
    margin-bottom: 10px
}

#booking-widget .availablityroomdetail[data-v-6471f287] {
    text-align: right;
    padding-right: 5px
}

#booking-widget .soldoutdates[data-v-6471f287] {
    color: #bd362f;
    display: block;
    font-size: 1.1em;
    margin-bottom: 10px;
    text-align: right;
    padding-right: 5px
}

#booking-widget .soldoutdates label[data-v-6471f287],
.soldout-lbl[data-v-6471f287] {
    color: #bd362f;
    display: block;
    font-weight: 600;
    margin-bottom: 0
}

#booking-widget .soldoutspan[data-v-6471f287],
#booking-widget .unbookable span[data-v-6471f287] {
    background: #f2dede;
    color: #ad1919;
    padding: 5px;
    border: 1px solid #ebccd1;
    display: inline-block;
    vertical-align: middle;
    border-radius: 3px;
    margin: 2px;
    font-size: 12px
}

#vue-occupancy-details[data-v-6471f287] {
    width: 100%;
    padding-top: 10px;
    border-top: 1px dotted #dedede;
    overflow: hidden
}

#bookingForm.horizontal #vertical-vue-dropdown-home[data-v-6471f287],
#bookingForm.horizontal #vue-dropdown-home[data-v-6471f287] {
    min-width: 300px !important;
    left: -105px
}

@media only screen and (min-width:769px) {

    #vertical-vue-dropdown-home.dropdown-menu[data-v-6471f287],
    #vue-dropdown-home.dropdown-menu[data-v-6471f287] {
        padding-top: 15px
    }
}

.booking-form input[type=checkbox][data-v-6471f287],
.booking-form input[type=radio][data-v-6471f287] {
    width: 15px !important;
    height: 15px !important
}

#booking-widget .vue-mobile .vue-fxcount[data-v-6471f287] {
    float: left;
    width: 30px;
    height: 33px;
    border: none;
    border-top: 1px solid #ccc !important;
    border-bottom: 1px solid #ccc !important;
    padding: 2px 0;
    text-align: center;
    width: 33.3%
}

#booking-widget .dropdown-menu[data-v-6471f287]:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    right: 6px;
    bottom: 100%;
    border-color: transparent transparent #ad1919;
    border-style: solid;
    border-width: 0 10px 10px
}

#booking-widget .vue-paddt15[data-v-6471f287] {
    padding: 15px
}

#booking-widget #vue-btn-search-mobile[data-v-6471f287] {
    margin-top: 20px;
    height: 40px;
    padding: 6px
}

#booking-widget #vue-btn-search-mobile[data-v-6471f287],
#booking-widget #vue-btn-search[data-v-6471f287] {
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    width: 100%;
    cursor: pointer
}

#booking-widget #vue-btn-search[data-v-6471f287] {
    text-transform: capitalize
}

#booking-widget #vue-btn[data-v-6471f287] {
    border: none;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 1em;
    cursor: pointer;
    float: right
}

#booking-widget .btn[data-v-6471f287] {
    display: inline-block;
    font-weight: 500;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    line-height: 1.8;
    border-radius: 0;
    -webkit-transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out, -webkit-box-shadow .15s ease-in-out
}

#booking-widget .btn-orange-solid[data-v-6471f287] {
    background: #ff573d;
    color: #fff
}

#booking-widget .btn-solid[data-v-6471f287] {
    background: #26356b;
    color: #fff;
    width: 100px
}

#booking-widget .btn-outline[data-v-6471f287] {
    border: 1px solid #26356b !important;
    color: #26356b;
    width: 130px
}

#booking-widget .btn-md[data-v-6471f287] {
    padding: .78rem
}

#booking-widget .proof_modal_body[data-v-6471f287] {
    padding: 20px
}

#booking-widget .proof_modal_list[data-v-6471f287] {
    padding-left: 30px
}

#booking-widget .booking-btngrp input[disabled].vue-fxcount[data-v-6471f287] {
    background: #fff !important
}

#booking-widget .booking-btngrp .vue-btnb[data-v-6471f287] {
    border: 1px solid #ccc !important;
    color: #333 !important;
    background: #e6e6e6 !important;
    float: left;
    height: 33px;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
    width: 33.3%
}

#booking-widget .vue-date-box .vue-btn-wrap.avail-wrap[data-v-6471f287] {
    background: #fafafa !important
}

#booking-widget .vue-border-btm[data-v-6471f287] {
    border-bottom: 1px solid #f1f1f1;
    overflow: hidden
}

#booking-widget .vue-date-box[data-v-6471f287] {
    padding-top: 3px;
    padding-bottom: 3px;
    border: none
}

#booking-widget .vue-date-box .form-group[data-v-6471f287] {
    border-bottom: 2px solid #ad1919;
    padding: 0 0 .65rem
}

#booking-widget .vue-email_screen[data-v-6471f287] {
    border: none
}

#booking-widget .vue-small_large_select[data-v-6471f287] {
    background: right 0 no-repeat !important;
    background-size: 20px !important;
    width: 100%;
    border: none;
    padding: 0 0 3px !important;
    overflow: hidden;
    margin-bottom: 3px;
    text-align: left !important;
    -webkit-appearance: none;
    -moz-appearance: none
}

a#havepromo.vue-horizontal[data-v-6471f287] {
    color: #26356b
}

#booking-widget .vue-search-box[data-v-6471f287] {
    margin-bottom: 25px
}

#vue-toggle_residency .vue-btn[data-v-6471f287] {
    color: #fff;
    width: 180px;
    border: none;
    display: inline-block;
    background: #444 !important;
    border-color: #444 !important
}

#booking-widget .sep[data-v-6471f287] {
    color: #777;
    position: relative;
    top: 1px
}

#booking-widget #vue-smallScreen[data-v-6471f287] {
    margin-bottom: 25px !important;
    padding: 20px 25px;
    position: relative
}

@media only screen and (max-width:480px) {
    #vue-smallScreen[data-v-6471f287] {
        position: relative;
        margin: 0
    }
}

#bookingForm #vue-smallScreen .checkinout_date[data-v-6471f287] {
    background-size: 100% !important;
    height: auto !important;
    border-bottom: 2px solid #efefef !important
}

#bookingForm.horizontal .checkinout_date[data-v-6471f287] {
    background-size: 20px !important
}

#booking-widget #vue-smallScreen .sminput[data-v-6471f287],
#booking-widget #vue-smallScreen select[data-v-6471f287] {
    border: 1px solid #dedede;
    width: 100% !important;
    max-width: 100% !important;
    border-radius: 0 !important;
    height: 48px !important
}

#booking-widget #vue-smallScreen .sminput[data-v-6471f287] {
    padding: 10px
}

#booking-widget input[data-v-6471f287] {
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: -internal-light-dark(#000, #fff);
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
    background-color: -internal-light-dark(#fff, #3b3b3b);
    -webkit-rtl-ordering: logical;
    cursor: text;
    margin: 0;
    font: 400 13.3333px Arial;
    padding: 5px 0 2px !important;
    border: 2px inset -internal-light-dark(#767676, #858585);
    -o-border-image: initial;
    border-image: initial;
    background: transparent
}

#booking-widget #vue-smallScreen .vue-small_large_select[data-v-6471f287] {
    width: 100%;
    padding: 8px 0 20px !important;
    margin-bottom: 0;
    text-align: left !important;
    border: 1px solid #dedede;
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 48px !important;
    border-radius: 0 !important
}

#booking-widget select[data-v-6471f287] {
    background-position: calc(100% - 5px) calc(1em - 7px), calc(100% - 16px) calc(1em + 2px), 100% 0;
    background-repeat: no-repeat !important;
    border: 1px solid #dedede;
    line-height: 1.5em;
    border-radius: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding: 4px 6px !important;
    background-size: 17px
}

@media only screen and (max-width:600px) {

    #booking-widget .btn-outline[data-v-6471f287],
    #booking-widget .btn-solid[data-v-6471f287] {
        width: auto
    }

    #booking-widget #priceDetail[data-v-6471f287] {
        text-align: left;
        padding-top: 20px;
        padding-bottom: 20px
    }

    #booking-widget #vue-toggle_residency .vue-btn[data-v-6471f287] {
        width: auto;
        margin: 10px 10px 10px 0
    }
}
button#vue-btn-search {
    fill: #FFFFFF !important;
    color: #FFFFFF !important;
    background-color: #7F0407 !important;
    border-color: #7F0407 !important;
    border-radius: 4px 4px 4px 4px !important;
}

input#checkin,
input#checkout {
    display: inline-block !important;
}

#booking-widget .reserveport-form-wrap {
    background: #ffffff !Important;
}

.inner {
    box-shadow: 0px 2px 7px 0px #9d9292 !important;
}

#booking-widget .btn-orange-solid {
    background: #ad1919 !important;
    border-radius: 4px 4px 4px 4px !important;
}

button.btn.btn-solid {
    width: auto !important;
    background: #ad1919 !important;
}

a.btn.btn-solid {
    background: #ad1919 !important;
}
/*# sourceMappingURL=app.css.map */