{% extends 'base.html' %}
{% load static %}

{% block title %} About Lukenya Getaway {% endblock title %}

{% block body %}

    <!-- ##### Breadcumb Area Start ##### -->
    <section class="breadcumb-area bg-img d-flex align-items-center justify-content-center"
        style="background-image: url(../../static/img/bg-img/bg-about.jpeg);">
        <div class="bradcumbContent">
            <h2>About Us</h2>
        </div>
    </section>
    <!-- ##### Breadcumb Area End ##### -->

    <!-- ##### Book Now Area Start ##### -->
    <div class="book-now-area">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-lg-10">
                    <!-- Booking Widget - Reserveport -->
                    <!-- <booking-widget id="1335"></booking-widget> -->
                    <search-availability data-v-6471f287 id="1335" clientemail="true" layout="1" vce-ready>
                    </search-availability>

                </div>
            </div>
        </div>
    </div>
    <!-- ##### Book Now Area End ##### -->

    <!-- ##### About Us Area Start ##### -->
    <section class="about-us-area">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-12 col-lg-6">
                    <div class="about-text mb-100">
                        <div class="section-heading">
                            <div class="line-"></div>
                            <h2>Our Journey</h2>
                            <h6>Story behind Lukenya Getaway</h6>
                        </div>
                        <p>The Lukenya Getaway Limited began in 2001 as a countryside home. Our serene environment and perfect location resulted in past returning here seeking a home away from home experience. As demand increased, we set up our Cottages to accommodate our former and new guests.
                            From a humble beginning as a countryside home, we have grown over the years to offer a wide range of services and facilities such as a pool, a spacious dining area, and a volleyball pitch</p>
                        <!-- <a href="#" class="btn lukenyaGetaway-btn mt-50">Read More</a> -->
                    </div>
                </div>

                <div class="col-12 col-lg-6">
                    <div class="about-thumbnail mb-100">
                        <img src="{% static 'img/bg-img/room-4.jpg'%}" alt="">
                        <!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/blyScQiKWIA"
                            title="The Lukenya Getaway" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen>

                        </iframe> -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### About Us Area End ##### -->

    <!-- ##### Milestones Area Start ##### -->
    <section class="our-milestones section-padding-100-0 bg-img bg-overlay bg-fixed"
        style="background-image: url(../../static/img/bg-img//mini-5.jpg);">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-lg-8">
                    <div class="section-heading text-center white">
                        <div class="line-"></div>
                        <h2>Our Milestones</h2>
                        <p>A visit to Lukenya Getaway will give you the chance to have a taste of paradise regardless of
                            your reason for visiting. Our serene environment provides you with the perfect location to
                            escape
                            the hustle and bustle of city life.</p>
                    </div>
                </div>
            </div>

            <div class="row">

                <!-- Single Cool Facts -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-cool-fact mb-100 wow fadeInUp" data-wow-delay="300ms">
                        <div class="scf-text">
                            <i class="icon-cocktail-1"></i>
                            <h2><span class="counter">231</span></h2>
                            <p>Return customers</p>
                        </div>
                    </div>
                </div>

                <!-- Single Cool Facts -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-cool-fact mb-100 wow fadeInUp" data-wow-delay="500ms">
                        <div class="scf-text">
                            <i class="icon-swimming-pool"></i>
                            <h2><span class="counter">3</span></h2>
                            <p>Pools</p>
                        </div>
                    </div>
                </div>

                <!-- Single Cool Facts -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-cool-fact mb-100 wow fadeInUp" data-wow-delay="700ms">
                        <div class="scf-text">
                            <i class="icon-resort"></i>
                            <h2><span class="counter">79</span></h2>
                            <p>Rooms</p>
                        </div>
                    </div>
                </div>

                <!-- Single Cool Facts -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-cool-fact mb-100 wow fadeInUp" data-wow-delay="900ms">
                        <div class="scf-text">
                            <i class="icon-restaurant"></i>
                            <h2><span class="counter">25</span></h2>
                            <p>Apartments</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- ##### Milestones Area End ##### -->

    <!-- ##### Hotels Area Start ##### -->
    <section class="facebook-area d-flex flex-wrap">
        <!-- <hr style="background-color: #ad1919; width: 2">  -->

        <div class="contact-info">
            <div class="section-heading wow fadeInUp" data-wow-delay="100ms">
                <br>
                <div class="line-"></div>
                <h2>Why Lukenya Getaway?</h2>
                <p>The Lukenya Getaway is the perfect place to unwind and relax.
                     The surroundings are peaceful and quiet, and the staff are friendly and helpful. 
                    I would definitely recommend this place to anyone looking for a peaceful getaway from the city.</p>
            </div>
        </div>
        <div class="facebook-video-area">
            <iframe width='50%' height="315" src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2FLukenyaGetaway%2Fvideos%2F722632082132842%2F&show_text=false&t=0"
                title="LUKENYA GETAWAY- AN OASIS"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </div>
        
    </section>
   <!-- #### Youtube Video Start ####-->
<section class="contact-area d-flex flex-wrap align-items-center">
    <!-- <hr style="background-color: #ad1919; width: 2">  -->
    <div class="home-map-area">
        <iframe width='50%' height="315" src="https://www.youtube.com/embed/NzKwsUMvWbs"
            title="LUKENYA GETAWAY- AN OASIS"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
    </div>
    <div class="contact-info">
        <div class="section-heading wow fadeInUp" data-wow-delay="100ms">
            <div class="line-"></div>
            <h2>An Oasis</h2>
            <p>Lukenya Getaway is rightly named as it is the perfect Getaway away from the busy city life.
                We ride on our promise to offer a serene, quiet, peaceful and personal environment.
                Within our surroundings.
                This makes Lukenya Getaway the ideal venue for strategic thinking, rejuvenation, recreation and
                relaxation.
                Located just 40km from the city Center and just 25 mins from JKIA, the resort lies on 16 acres of
                ever green plush gardens making
                it convenient and enjoyable for corporate groups, tourists,
                church groups, families, and individuals seeking relaxation & rejuvenation</p>
        </div>
    </div>

   
  
    <!-- Contact Info -->
</section>
<!-- #### Youtube Video End ####-->
<section class="facebook-area d-flex flex-wrap align-items-center">
    <!-- <hr style="background-color: #ad1919; width: 2">  -->
    
    <div class="contact-info">
        <div class="section-heading wow fadeInUp" data-wow-delay="100ms">
            <div class="line-"></div>
            <!-- <h2>An Oasis</h2> -->
            <p>Lukenya Getaway is a resort for families, and it is a great place to take your family for a vacation.
                 The resort has a lot to offer families, and it is a great place to relax and enjoy your time together. 
                 The staff is friendly and helpful, and the amenities are top-notch.
                 I highly recommend Lukenya Getaway for families looking for a great place to relax & rejuvinate</p>
        </div>
    </div>
    
    <div class="facebook-video-area">
        <iframe width=50% height="600" src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2FLukenyaGetaway%2Fvideos%2F424947219743832%2F&show_text=false&t=0"
            title="LUKENYA GETAWAY- AN OASIS"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
    </div>
   
  
    <!-- Contact Info -->
</section>

    <!-- ##### Hotels Area End ##### -->

    <!-- ##### Testimonial Area Start ##### -->
   
    <section class="contact-area d-flex flex-wrap align-items-center">
        <div class="container">
        <div class="col-12 col-lg-12">
            <div class="section-heading text-center">
                <br>
                <div class="line-"></div>
                <h2>FAQs</h2>
            </div>
            <div class="accordions mb-100" id="accordion" role="tablist" aria-multiselectable="true">
                <!-- single accordian area -->
                <div class="panel single-accordion">
                    <h6><a role="button" class="" aria-expanded="true" aria-controls="collapseOne" data-toggle="collapse"
                            data-parent="#accordion" href="#collapseOne">What services do you offer?
                            <span class="accor-open"><i class="fa fa-plus" aria-hidden="true"></i></span>
                            <span class="accor-close"><i class="fa fa-minus" aria-hidden="true"></i></span>
                        </a></h6>
                    <div id="collapseOne" class="accordion-content collapse show">
                        <p>At Lukenya Getaway Limited, we offer you a home away from home in a serene environment.
                            Our services include hotel, accommodation, conferencing, camping, team building activities, and
                            other fun activities.</p>
                    </div>
                </div>
                <!-- single accordian area -->
                <div class="panel single-accordion">
                    <h6>
                        <a role="button" class="collapsed" aria-expanded="true" aria-controls="collapseTwo"
                            data-parent="#accordion" data-toggle="collapse" href="#collapseTwo">What are your rates?
                            <span class="accor-open"><i class="fa fa-plus" aria-hidden="true"></i></span>
                            <span class="accor-close"><i class="fa fa-minus" aria-hidden="true"></i></span>
                        </a>
                    </h6>
                    <div id="collapseTwo" class="accordion-content collapse">
                        <p>Our rates differ depending on the services that you choose. For more information or to enquire
                            about a customized package, kindly reach out to us either by email or by phone call.</p>
                    </div>
                </div>
                <!-- single accordian area -->
                <div class="panel single-accordion">
                    <h6>
                        <a role="button" aria-expanded="true" aria-controls="collapseThree" class="collapsed"
                            data-parent="#accordion" data-toggle="collapse" href="#collapseThree">What is your accommodation availability?
                            <span class="accor-open"><i class="fa fa-plus" aria-hidden="true"></i></span>
                            <span class="accor-close"><i class="fa fa-minus" aria-hidden="true"></i></span>
                        </a>
                    </h6>
                    <div id="collapseThree" class="accordion-content collapse">
                        <p>Our accommodation is open all year round. Availability depends on the season of the year. To
                            find out about availability and to make a booking, kindly contact us on our email or via phone
                            call.</p>
                    </div>
                </div>
                <div class="panel single-accordion">
                    <h6>
                        <a role="button" aria-expanded="true" aria-controls="collapseThree" class="collapsed"
                            data-parent="#accordion" data-toggle="collapse" href="#collapseThree">Do you have a cancellation policy?
                            <span class="accor-open"><i class="fa fa-plus" aria-hidden="true"></i></span>
                            <span class="accor-close"><i class="fa fa-minus" aria-hidden="true"></i></span>
                        </a>
                    </h6>
                    <div id="collapseFour" class="accordion-content collapse">
                        <p>Yes. We do understand that things can change and offer flexibility to all our current and future
                            customers. Our cancellation policy is as follows:
                            ● 35 to 20 days- 10%
                            ● 19 to 10 days – 25%
                            ● 9 to 2 days – 35%
                            ● 2 to 0 days – 100%.</p>
                    </div>

                </div>
                <div class="panel single-accordion">
                    <h6>
                        <a role="button" aria-expanded="true" aria-controls="collapseThree" class="collapsed"
                            data-parent="#accordion" data-toggle="collapse" href="#collapseThree">What Payment methods do you accept?
                            <span class="accor-open"><i class="fa fa-plus" aria-hidden="true"></i></span>
                            <span class="accor-close"><i class="fa fa-minus" aria-hidden="true"></i></span>
                        </a>
                    </h6>
                    <div id="collapseFive" class="accordion-content collapse">
                        <p>At Lukenya Getaway, we accept all major credit cards as well as MPesa as a form of payment.</p>
                    </div>
                    
                </div>
            </div>
        </div>
        </div>
    </section>
    <!-- ##### Testimonial Area End ##### -->

{% endblock %}