{% load static %}
{% static "images" as baseUrl %}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <!-- Google Tag Manager -->
    <!-- <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js %}"
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-NX89Z22');
    </script> -->
    <!-- End Google Tag Manager -->



    <!-- Title -->
    <title>Lukenya Getaway | {% block title %} {% endblock title %}</title>

    <!-- Favicon -->
    <link rel="icon" href="{% static 'img/core-img/favicon.ico' %}">

   

    <!-- Reserveport Styles -->
    <link href="{% static 'css/bookingWidget/app.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/bookingWidget/bootstrap.min.css' %}">

    <!-- Core Stylesheet -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NX89Z22" height="0" width="0"
            style="display:none;visibility:hidden">
        </iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->



    <!-- Preloader -->
   <!-- Preloader -->
<div class="preloader d-flex align-items-center justify-content-center">
    <div class="cssload-container">
        <img src="{% static 'img/core-img/logo.png' %}" alt="logo">
        <div class="cssload-loading" style="text-align: center">
            <hr style="width: solid 2px; background-color: #ad1919">
            <i></i>
            <i></i>
            <i></i>
            <i></i>
            <i></i>
            <i></i>
            <i></i>
        </div>
    </div>
</div>

    <!-- ##### Header Area Start ##### -->
    <header class="header-area">
        <!-- Navbar Area -->
        <div class="lukenyaGetaway-main-menu">
            <div class="classy-nav-container breakpoint-off">
                <div class="container">
                    <!-- Menu -->
                    <nav class="classy-navbar justify-content-between" id="lukenyaGetawayNav">

                        <!-- Nav brand -->
                        <a href="/" class="nav-brand"><img src="{% static 'img/core-img/logo.png' %}" alt=""></a>

                        <!-- Navbar Toggler -->
                        <div class="classy-navbar-toggler">
                            <span class="navbarToggler"><span style="background-color: #ad1919"></span><span style="background-color: #ad1919"></span><span style="background-color: #ad1919"></span></span>
                        </div>

                        <!-- Menu -->
                        <div class="classy-menu">

                            <!-- close btn -->
                            <div class="classycloseIcon">
                                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                            </div>

                            <!-- Nav Start -->
                            <div class="classynav">
                                <ul>
                                    <li class="active"><a href="/">Home</a></li>
                                    <li><a href="/about-us">About Us</a></li>
                                    <li><a href="/amenities">Amenities</a>
                                        <ul class="dropdown">
                                            <li><a href="/rooms">Accommodation</a></li>
                                            <li><a href="/amenities">Dining</a></li>
                                            <li><a href="/amenities">Conferencing</a></li>
                                            <li><a href="/amenities">Swimming Pool</a></li>
                                            <li><a href="/gallery">Gallery</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="/activities">Activities</a>
                                        <ul class="dropdown">
                                            <li><a href="/activities">Team Building</a></li>
                                            <li><a href="/activities">Camping</a></li>
                                            <li><a href="/activities">Weddings</a></li>
                                            <li><a href="/activities">Birthdays</a></li>
                                            <li><a href="/activities">Corporate Events</a></li>
                                            <li><a href="/news">News</a></li>
                                            <li><a href="/gallery">Gallery</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="https://lukenyagetaway.com/lukenya_getaway/Main.html#/Gate_Entrance_-_122LU322">Virtual Tour</a></li>
                                    
                                    <li><a href="/contact-us">Contact</a></li>
                                </ul>

                                <!-- Button -->
                                <div class="menu-btn">
                                    <a href="/reservations" class="btn lukenyaGetaway-btn">Make a Reservation</a>
                                </div>

                            </div>
                            <!-- Nav End -->
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <div class="book-now-area">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-10">
                <!-- Booking Widget - Reserveport -->
                <booking-widget id="1335" vce-ready=""></booking-widget>
            </div>
        </div>
    </div>
    <!-- ##### Header Area End ##### -->

    <!-- ##### Hero Area Start ##### -->
    
    <!-- ##### Hero Area End ##### -->

    <!-- ##### Book Now Area Start ##### -->
   
   <!-- ##### BODY CONTENT ##### -->
   {% block body %} 
   
   {% endblock body %}
    <!-- ##### BODY CONTENT END ##### -->


    <!-- ##### Footer Area Start ##### -->
    <footer class="footer-area">
        <div class="container">
            <div class="row">

                <!-- Footer Widget Area -->
                <div class="col-12 col-lg-5">
                    <div class="footer-widget-area mt-50">
                        <a href="/" class="d-block mb-5"><img src="{% static 'img/core-img/logo.png' %}" alt="Lukenya Getaway Logo"></a>
                        <p>Lukenya Getaway is rightly named as it is the perfect Getaway away from the busy city life.
                            We ride on our promise to offer a serene, quiet, peaceful and personal environment.
                            This makes Lukenya Getaway the ideal venue for strategic thinking, rejuvenation, recreation
                            and relaxation.
                        </p>
                    </div>
                </div>

                <!-- Footer Widget Area -->
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="footer-widget-area mt-50">
                        <!--   -->
                    </div>
                </div>

                <!-- Footer Widget Area -->
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="footer-widget-area mt-50">
                        <h6 class="widget-title mb-5">Subscribe to our newsletter</h6>
                        <form action="#" method="post" class="subscribe-form">
                            <input type="email" name="subscribe-email" id="subscribeemail" placeholder="Your E-mail">
                            <button type="submit">Subscribe</button>
                        </form>
                    </div>
                </div>

                <!-- Copywrite Text -->
                <div class="col-12">
                    <div class="copywrite-text mt-30">
                        <p><a href="{% static '#">
                                Copyright &copy;
                                <script>document.write(new Date().getFullYear());</script> All rights reserved | Made
                                with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a
                                    href="https:linkedin.com/in/veluvo-softwares" target="_blank">Veluvo Softwares</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- ##### Footer Area End ##### -->

    <!-- ##### All Javascript Script ##### -->
    <!-- jQuery-2.2.4 js -->
    <script src="{% static 'js/jquery/jquery-2.2.4.min.js' %}"></script>
    <!-- Popper js -->
    <script src="{% static 'js/bootstrap/popper.min.js' %}"></script>
    <!-- Bootstrap js -->
    <script src="{% static 'js/bootstrap/bootstrap.min.js' %}"></script>
    <!-- All Plugins js -->
    <script src="{% static 'js/plugins/plugins.js' %}"></script>
    <!-- Active js -->
    <script src="{% static 'js/active.js' %}"></script>
    <script async src="{% static 'js/plugins/embed.min.js' %}"></script>
    <script>
        var wa_btnSetting = { "btnColor": "#16BE45", "ctaText": "WhatsApp Us", "cornerRadius": 0, "marginBottom": 20, "marginLeft": 10, "marginRight": 10, "btnPosition": "left", "whatsAppNumber": "254734880488", "zIndex": 999999, "btnColorScheme": "light" };
        window.onload = () => {
            _waEmbed(wa_btnSetting);
        };
    </script>



    <!--Reserveport Indexpage Scripts-->
    <script type="text/javascript"
        src="https://reservations.reserveport.com/checkavailability/static/js/manifest.js"></script>
    <script type="text/javascript"
        src="https://reservations.reserveport.com/checkavailability/static/js/vendor.js %}"></script>
    <script type="text/javascript" src="{% static 'js/bookingWidget/app.js' %}"></script>
    <script type="text/javascript" src="https://www.reserveport.com/media/api5/popper.min.js %}"></script>
    <script type="text/javascript" src="https://www.reserveport.com/media/api5/bootstrap.min.js %}"></script>


    <!-- End of Optional -->

</body>

</html>