{% extends 'base.html' %}
{% load static %}

{% block title %} Gallery {% endblock title %}

{% block body %}

    <!-- ##### Breadcumb Area Start ##### -->
    <section class="breadcumb-area bg-img d-flex align-items-center justify-content-center"
        style="background-image: url(../../static/img/bg-img/bg-about.jpeg);">
        <div class="bradcumbContent">
            <h2>Gallery</h2>
        </div>
    </section>
    <!-- ##### Breadcumb Area End ##### -->


    <!-- ##### About Us Area Start ##### -->
    <section class="pool-area section-padding-100 bg-img bg-fixed" style="background-image: url(../../static/img/bg-img/image-4.jpg);">
        <div class="container">
            <div class="row justify-content-end">
                <div class="col-12 col-lg-7">
                    <div class="pool-content text-center wow fadeInUp" data-wow-delay="300ms">
                        <div class="section-heading text-center white">
                            <div class="line-"></div>
                            <h2>Lukenya Getaway</h2>
                            <!-- <div class="row">
                                <div class="col-12 col-sm-4">
                                    <div class="pool-feature">
                                        <p><span class="fa fa-check"></span> Quiet</p>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-4">
                                    <div class="pool-feature">
                                        <p><span class="fa fa-check"></span> Peaceful</p>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-4">
                                    <div class="pool-feature">
                                        <p><span class="fa fa-check"></span> Personal</p>
                                    </div>
                                </div>
                            </div> -->
                            <p>A taste of paradise</p>
                            <hr>
                            <h6 style="color: white">At Lukenya Getaway, the excellent service and superior facilities make for an unforgettable stay. 
                                Free internet access provided within the hotel keeps you connected throughout your stay.
                                 Airport transfer services can be booked before your check-in date, to ensure a smooth and convenient arrival or departure. 
                                Car hire and shuttle services provided by the hotel make exploring Athi River even more convenient.</h6>
                        </div>
    
                       
                        <!-- Button -->
                        <a href="/aboutus" class="btn lukenyaGetaway-btn mt-50">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </section> -->
    <!-- ##### Pool Area End ##### -->
    <!-- ##### Rooms Area Start ##### -->
    <section class="rooms-area section-padding-100-0">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-lg-6">
                    <div class="section-heading text-center">
                        <div class="line-"></div>
                        <h2>Gallery</h2>
                        <p>Lukenya Getaway Resort</p>
                    </div>
                </div>
            </div>
    
         

<div class="lightbox">
    <div class="row">
      <div class="col-lg-6">
        <img
          src="https://mdbcdn.b-cdn.net/img/Photos/Thumbnails/Slides/1.webp"
          data-mdb-img="https://mdbcdn.b-cdn.net/img/Photos/Slides/1.webp"
          alt="Table Full of Spices"
          class="w-100 mb-2 mb-md-4 shadow-1-strong rounded"
        />
        <img
          src="https://mdbcdn.b-cdn.net/img/Photos/Thumbnails/Square/1.webp"
          data-mdb-img="https://mdbcdn.b-cdn.net/img/Photos/Square/1.webp"
          alt="Coconut with Strawberries"
          class="w-100 shadow-1-strong rounded"
        />
      </div>
      <div class="col-lg-6">
        <img
          src="https://mdbcdn.b-cdn.net/img/Photos/Thumbnails/Vertical/1.webp"
          data-mdb-img="https://mdbcdn.b-cdn.net/img/Photos/Vertical/1.webp"
          alt="Dark Roast Iced Coffee"
          class="w-100 shadow-1-strong rounded"
        />
      </div>
    </div>
  </div>
        </div>
    </section>
    <!-- ##### Milestones Area End ##### -->


{% endblock %}