{% extends 'base.html' %}
{% load static %}

{% block title %} Home {% endblock title %}


{% block body %}

    <!-- ##### Breadcumb Area Start ##### -->
    <section class="breadcumb-area bg-img d-flex align-items-center justify-content-center"
        style="background-image: url(img/bg-img/bg-6.jpg);">
        <div class="bradcumbContent">
            <h2>Rooms</h2>
        </div>
    </section>


    <!-- ##### Rooms Area Start ##### -->
    <section class="rooms-area section-padding-0-100">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-lg-6">
                    <div class="section-heading text-center">
                        <div class="line-"></div>
                        <h2>Choose a room</h2>
                        <p>A visit to Lukenya Getaway will give you the chance to have a taste of paradise regardless of
                            your reason for visiting. Our serene environment provides you with the perfect location to
                            escape
                            the hustle and bustle of city life..</p>
                    </div>
                </div>
            </div>

            <div class="row">

                <!-- Single Rooms Area -->
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single-rooms-area wow fadeInUp" data-wow-delay="100ms">
                        <!-- Thumbnail -->
                        <div class="bg-thumbnail bg-img" style="background-image: url(img/bg-img/room-4.jpg);"></div>
                        <!-- Price -->
                        <p class="price-from">From KES6,000/night</p>
                        <!-- Rooms Text -->
                        <div class="rooms-text">
                            <div class="line"></div>
                            <h4>Superior Room</h4>
                            <p>When you stay at Lukenya Suites, you really do have the best of everything – the luxury
                                of a great ambience, the comfort of spacious elegance, and the value of unsurpassed
                                service.</p>
                        </div>
                        <!-- Book Room -->
                        <a href="#" class="book-room-btn btn lukenyaGetaway-btn">Book Room</a>
                    </div>
                </div>

                <!-- Single Rooms Area -->
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single-rooms-area wow fadeInUp" data-wow-delay="200ms">
                        <!-- Thumbnail -->
                        <div class="bg-thumbnail bg-img" style="background-image: url(img/bg-img/room-4.jpg);"></div>
                        <!-- Price -->
                        <p class="price-from">From KES6,000/night</p>
                        <!-- Rooms Text -->
                        <div class="rooms-text">
                            <div class="line"></div>
                            <h4>Standard Room</h4>
                            <p>Standard When you stay at Lukenya Suites, you really do have the best of everything – the
                                luxury of a great ambience, the comfort of spacious elegance, and the value of
                                unsurpassed service.</p>
                        </div>
                        <!-- Book Room -->
                        <a href="#" class="book-room-btn btn lukenyaGetaway-btn">Book Room</a>
                    </div>
                </div>

                <!-- Single Rooms Area -->
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single-rooms-area wow fadeInUp" data-wow-delay="300ms">
                        <!-- Thumbnail -->
                        <div class="bg-thumbnail bg-img" style="background-image: url(img/bg-img/room-4.jpg);"></div>
                        <!-- Price -->
                        <p class="price-from">From KES 6,000/night</p>
                        <!-- Rooms Text -->
                        <div class="rooms-text">
                            <div class="line"></div>
                            <h4>Deluxe Room</h4>
                            <p>Deluxe When you stay at Lukenya Suites, you really do have the best of everything – the
                                luxury of a great ambience, the comfort of spacious elegance, and the value of
                                unsurpassed service.</p>
                        </div>
                        <!-- Book Room -->
                        <a href="#" class="book-room-btn btn lukenyaGetaway-btn">Book Room</a>
                    </div>
                </div>

                <!-- Single Rooms Area -->
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single-rooms-area wow fadeInUp" data-wow-delay="100ms">
                        <!-- Thumbnail -->
                        <div class="bg-thumbnail bg-img" style="background-image: url(img/bg-img/room-4.jpg);"></div>
                        <!-- Price -->
                        <p class="price-from">From KES 6,000/night</p>
                        <!-- Rooms Text -->
                        <div class="rooms-text">
                            <div class="line"></div>
                            <h4>Superior Room</h4>
                            <p>Superior When you stay at Lukenya Suites, you really do have the best of everything – the
                                luxury of a great ambience, the comfort of spacious elegance, and the value of
                                unsurpassed service.</p>
                        </div>
                        <!-- Book Room -->
                        <a href="#" class="book-room-btn btn lukenyaGetaway-btn">Book Room</a>
                    </div>
                </div>

                <!-- Single Rooms Area -->
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single-rooms-area wow fadeInUp" data-wow-delay="200ms">
                        <!-- Thumbnail -->
                        <div class="bg-thumbnail bg-img" style="background-image: url(img/bg-img/room-4.jpg);"></div>
                        <!-- Price -->
                        <p class="price-from">From KES 6,000/night</p>
                        <!-- Rooms Text -->
                        <div class="rooms-text">
                            <div class="line"></div>
                            <h4>Standard Room</h4>
                            <p>Standard When you stay at Lukenya Suites, you really do have the best of everything – the
                                luxury of a great ambience, the comfort of spacious elegance, and the value of
                                unsurpassed service.</p>
                        </div>
                        <!-- Book Room -->
                        <a href="#" class="book-room-btn btn lukenyaGetaway-btn">Book Room</a>
                    </div>
                </div>

                <!-- Deluxe Rooms Area -->
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single-rooms-area wow fadeInUp" data-wow-delay="300ms">
                        <!-- Thumbnail -->
                        <div class="bg-thumbnail bg-img" style="background-image: url(img/bg-img/room-4.jpg);"></div>
                        <!-- Price -->
                        <p class="price-from">From KES 6,000/night</p>
                        <!-- Rooms Text -->
                        <div class="rooms-text">
                            <div class="line"></div>
                            <h4>Standard Twin</h4>
                            <p>When you stay at Lukenya Suites, you really do have the best of everything – the luxury
                                of a great ambience, the comfort of spacious elegance, and the value of unsurpassed
                                service.</p>
                        </div>
                        <!-- Book Room -->
                        <a href="#" class="book-room-btn btn lukenyaGetaway-btn">Book Room</a>
                    </div>
                </div>

                <!-- Single Rooms Area -->
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single-rooms-area wow fadeInUp" data-wow-delay="100ms">
                        <!-- Thumbnail -->
                        <div class="bg-thumbnail bg-img" style="background-image: url(img/bg-img/room-4.jpg);"></div>
                        <!-- Price -->
                        <p class="price-from">From KES 6,000/night</p>
                        <!-- Rooms Text -->
                        <div class="rooms-text">
                            <div class="line"></div>
                            <h4>Superior Room</h4>
                            <p>When you stay at Lukenya Suites, you really do have the best of everything – the luxury
                                of a great ambience, the comfort of spacious elegance, and the value of unsurpassed
                                service.</p>
                        </div>
                        <!-- Book Room -->
                        <a href="#" class="book-room-btn btn lukenyaGetaway-btn">Book Room</a>
                    </div>
                </div>

                <!-- Single Rooms Area -->
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single-rooms-area wow fadeInUp" data-wow-delay="200ms">
                        <!-- Thumbnail -->
                        <div class="bg-thumbnail bg-img" style="background-image: url(img/bg-img/room-4.jpg);"></div>
                        <!-- Price -->
                        <p class="price-from">From KES 6,000/night</p>
                        <!-- Rooms Text -->
                        <div class="rooms-text">
                            <div class="line"></div>
                            <h4>Standard Room</h4>
                            <p>When you stay at Lukenya Suites, you really do have the best of everything – the luxury
                                of a great ambience, the comfort of spacious elegance, and the value of unsurpassed
                                service.</p>
                        </div>
                        <!-- Book Room -->
                        <a href="#" class="book-room-btn btn lukenyaGetaway-btn">Book Room</a>
                    </div>
                </div>

                <!-- Standard Twins Area -->
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single-rooms-area wow fadeInUp" data-wow-delay="300ms">
                        <!-- Thumbnail -->
                        <div class="bg-thumbnail bg-img" style="background-image: url(img/bg-img/room-4.jpg);"></div>
                        <!-- Price -->
                        <p class="price-from">From KES 6,000/night</p>
                        <!-- Rooms Text -->
                        <div class="rooms-text">
                            <div class="line"></div>
                            <h4>Standard Twin</h4>
                            <p>When you stay at Lukenya Suites, you really do have the best of everything – the luxury
                                of a great ambience, the comfort of spacious elegance, and the value of unsurpassed
                                service.</p>
                        </div>
                        <!-- Book Room -->
                        <a href="#" class="book-room-btn btn lukenyaGetaway-btn">Book Room</a>
                    </div>
                </div>

                <div class="col-12">
                    <!-- Pagination -->
                    <div class="pagination-area wow fadeInUp" data-wow-delay="400ms">
                        <nav>
                            <ul class="pagination">
                                <li class="page-item active"><a class="page-link" href="#">01.</a></li>
                                <li class="page-item"><a class="page-link" href="#">02.</a></li>
                                <li class="page-item"><a class="page-link" href="#">03.</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- ##### Rooms Area End ##### -->
{% endblock %}